<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConnectionString" providerName="System.Data.SqlClient"
          connectionString="Data Source=1.34.139.73,1433;Initial Catalog=NtutProject; Persist Security Info=true; User ID=NtutProjectMember; Password=Member1323" />
  </connectionStrings>
</configuration>